### How to teach a new programming language

In [4]:
for i in range(1,100,3):
    print(i, end= ' ')

1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88 91 94 97

### Programming Skills

- Data Types
    - Numbers , Names
    -

### Pandas Practice

In [3]:
import pandas as pd


def readCsvData(filepath):
    return pd.read_csv(filepath)

filepath = 'DataFiles/income.csv'
data = readCsvData(filepath)
data

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [4]:
new =data.iloc[:,2:10]
new.mean(axis=1).mean()

48721.375

In [6]:

incomedf = readCsvData(filepath)

# Function to print all column names in a single line
# GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

def printDataFrameColumns(df):
    columns = df.columns
    for column in columns:
        print(column, end=' ')
    return

printDataFrameColumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [7]:
# Function to access a row based on a unique column value

def accessDataFrameRow(df, key):
    
    for row in df.values:
        if key in row:
            for item in row:
                print(item, end=' ')
            print('\n')
    return

accessDataFrameRow(incomedf, '04000US06')

04000US06 California 51755 55319 55734 57014 56134 54283 53367 57020 57528

In [8]:
# Average Income of all states from 2005 to 2013
import numpy as np
def avgIncome(df, key):
    sum = counter = 0
    for row in df.values:
        if row[1] == key:
            sum = np.sum(row[2:])
            counter = np.size(row[2:])
    return sum//counter
allSum = allCount = 0
for state in incomedf.values:
    allSum += avgIncome(incomedf, state[1])
    allCount += 1
print(allSum // allCount)

48875

In [9]:
# State with highest average income in the last three years
def highestAvgIncome3Years(df, key):
    sum = counter = 0
    for row in df.values:
        if row[1] == key:
            sum = np.sum(row[8:])
            counter = np.size(row[8:])
    print(key,":",sum//counter)
allSum = allCount = 0
for state in incomedf.values:
    highestAvgIncome3Years(incomedf, state[1])

Alabama : 42478
Alaska : 60738
Arizona : 48755
Arkansas : 40079
California : 55971