In [217]:
s = "Tilak Bopparaju"
t = ''
# for i in range(len(s)):
#     if s[i].isspace():
#         t += s[i+1]
#         t += '.'
# for i in s:
#     t += i
#     if i.isspace():
#         break
# print(t)
l = s.split()
t += l[1][0]
t += '.'
t += l[0]
print(t)

B.Tilak

In [46]:
# Print all combinations of pairs of integers
# All unique combinations of 2
# [1,2,3] --> (1,2),(1,3),(2,3) -< 3C2 --> 3!/(2!)*(1!)
# nCr = n! / r! * (n - r)!
# [1,2,3,4]  ---> 1,2 1,3 1,4 2,3 2,4 3,4

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            print(li[i],li[j],li[j+1])
li = [1,2,3,4]        
combinations(li)

1 2 3
1 3 4

IndexError: list index out of range

In [66]:
def combinations3(li):
    for i in range(len(li)-2):
        for j in range(i+1, len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[j+1])
li = [1,2,3,4]
combinations3(li)

1 2 3
1 2 3
1 3 4
2 3 4

In [74]:
def differenceOfPairs(li):
    c = 0
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                li.append(d)
                differenceOfPairs(li)
                c=c+1
    return li  
def kthLargestofDeiffrencePairs(li,k):
    li2 = differenceOfPairs(li)
    li2 = sorted(li2,reverse = True)
    highest = li2[k-1]
    print(highest)
differenceOfPairs([3,6,9,12,2])

[3, 6, 9, 12, 2, 1, 4, 5, 7, 8, 10, 11]

# Sets
Set - Data Structure in Python

Represented by '{}'
- Won't allow Duplicates
- It's a Mutable data structure
- Doesn't support indexing
- Unordered and Unindexed
- we can loop through for (or) in keyword
- Remove and discard methods are available to delete
    -But, if item is not availble will raise an error with remove
    - discard won't raise any error if item not available

In [83]:
a = {1,2,3,4,5,6}
for i in a:
    print(i)

1
2
3
4
5
6

In [88]:
b = {7,8,9}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [95]:

a.discard(8)
a

{1, 2, 3, 4, 5, 6, 7}

In [108]:
a = {1,23,4,5,6}

In [114]:
# a union b
# A U B = B U A

a.add(22)
a

{1, 21, 22, 23, 4, 5, 6, 'b'}

In [124]:
# a - b
# All elements of a which are not in b
# common elements removed
x = {1,2,3,4,5,6}
y = {4,5,6,7,8}
x-y

{1, 2, 3}

In [135]:
# sorted
a = {1,'56',2,'z',3}

TypeError: '<' not supported between instances of 'str' and 'int'

## Functional Programming

- Procedural : C
- Object Oriented : Java, Python
- Scripting: PHP, Python, JavaScript, ShellScript
- Functional : Python, Haskell, Scala
- Logic: Prolog, Lisp

### List comprehensions

In [149]:
# List of N natural numbers
#
n= 10
l = [ i for i in range(1,n+1) if i%2 == 0]
l

[2, 4, 6, 8, 10]

In [151]:
# Apply list comprhension to store the cubes on numbers
li = [ i ** 3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [160]:
# Function to calculate the factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)

# Apply list comprehension to calculate factorial of N natural numbers
# Factorial of n natural numbers
n= 5
factList = [ factorial(i) for i in range(1,n+1)]
factList[-1]

120

In [174]:
# Store cumulative sum of numbers till n in a list
# n = 3 , [1, 3, 6, 10, 15]
def cumulativeSum(n):
    sum = 0
    for i in range(1,n+1):
        sum += i
    return sum
        
cumulativeSumList =[cumulativeSum(i) for i in range(1,6)]
cumulativeSumList

[1, 3, 6, 10, 15]

In [178]:
cumulativeSumList1 =[sum(range(1,i+1)) for i in range(1,6)]
cumulativeSumList1

[1, 3, 6, 10, 15]

In [182]:
# List comprehension to do this 
# Function to store only numbers divisible 

st = 1970
et = 2019

leapYears = [ i for i in range(st,et+1) if i%4 == 0 or (i%400 == 0 and i%100 != 0)]
leapYears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [185]:
a = [i if i%2 ==0 else False for i in range(10)]
a

[0, False, 2, False, 4, False, 6, False, 8, False]

In [232]:
#
li = [1,2,3,2,1]
unique = []
unique = [unique.append(i) for i in li if i in unique]
unique

[]

# Iterators in Python

- Group of Objects can be repeated 
- Iterables - Strings,Lists,Tuples,Sets,Dictionaries
- Convert Iterable to Iterator ->

In [253]:
it = iter('Tilak')
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))

T
i
l
a
k

In [276]:
# Generators
def generator():
    n = 2
    for i in range(1,5):
        n **= 3
        yield n
a = generator()

for i in a:
    print(i)

8
512
134217728
2417851639229258349412352

In [ ]:
# Generators
def generator():
    n = 2
    for i in range(1,5):
        n **= 3
        yield n
a = generator()

for i in a:
    print(i)

# Maps